/* <!-- GitEducation Week 3 Homework--> */
 #boldDesign:hover {
    font-size: 40px;
    font-style: italic;
    color: purple; 
} 
/* #theHeader {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
} */
#theHeaderElement {
    border: 2px solid #774488;
    width: 1200px;
    height: 250px;
    background-image: image("sunrisephoto.jpg");
    box-sizing: border-box;
    }
    #gitFirst {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        text-shadow: 1px 1px #9966ff;
        font-family: 'Roboto', sans-serif;
    }
#firstParagraph {
    width: 1200px;
    text-align: center;
}    

#elEss {
    margin-top: 5px;
    font-size: 12px;
}
#rules {
    width: 200px;
    border-bottom-color: #9966ff;
}



#paragraphTwo {
    margin-top: 50px;
    width: 475px;
    height: 300px;
    /* margin-right: 300px; */
    padding: 11px;
    /* display: inline-block; */
    margin-left: 20px;
    border: 2px solid #ff00ff;
    box-shadow: -3px -2px gray;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #99ccff 20%, #ff99cc 68%);
    }

/* #gitFirst {
    text-shadow: 1px 1px #9966ff;
    font-family: 'Roboto', sans-serif;
} */

#paragraphThree {

    margin-top: 50px;
    margin: 10px;
    width: 450px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    /* display: inline-block; */
    float: left;
    
}

#gitAhead {
    color: #9966ff;
    border-left: 4px solid  #9966ff;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
}
#theHeaderElement {
border: 2px solid #774488;
width: 1200px;
height: 250px;
background-image: image("sunrisephoto.jpg");
box-sizing: border-box;
}
#siteTitle {
    position: absolute;
    margin-top: -90px;
    /* text-align: center; */
    margin-left: 360px;
    color: white;
    font-size: 50px;
}
/* #microCrap {
    width: 575px;
    border: 2px solid rgb(153, 0, 204);
    display:block;
    margin-left: 598px;
    margin-top: -1550px;
    padding: 10px;
} */
#paragraphFour {
    /* display:inline; */
    width: 520px;
    height: 400px;
    font-family: 'Roboto', sans-serif;
    margin-left: 700px;
    margin-top: -400px;
}
#rant {
    text-align: center;
}
#microCrap {
    width: 575px;
    border: 2px solid rgb(153, 0, 204);
    /* display:inline-block; */
    margin-left: 598px;
    margin-top: -650px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
.paragraphFive {
    /* display: inline; */
    max-width: 500px;
    margin-top: 200px;
    font-family: 'Roboto', sans-serif;
}
#cbc8 {
    text-align: center;
    font-size: 10px;
}
.paragraphSix {
margin-top: 400px;


}
/* #boldDesign:hover { */
    /* font-size: 40px; */
    /* font-style: italic; */
    /* color: purple; */
/* } */